@import 'lesshat';
body {
  margin:0;
  padding: 10;
  /*border-style: dashed;
  border-color: #ffd8d8;
  border-width: 2px;*/
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(0,255,0);
}

@font-face {
    font-family: Opensans;
    src: url(OpenSansRegular.ttf);
}

/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url('load/loader2.gif') 50% 50% no-repeat rgb(255,255,255);
}*/

#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99}
#loading-image {position: absolute;top: 40%;left: 45%;z-index: 100}

#heading {
  margin-top: 15;
  font-family: Opensans, 'Open Sans', sans-serif;;
  font-size: 18px;
  line-height: 25px;
  color: blue;
  position: fixed;
  z-index: 100;
  font-weight: 600;
}

a{
  color: blue;
}
a:visited {
  text-decoration: none;
}

.logo {
  position: absolute;
  right:30;
  top:-10;
}

#sub_head {
  color: blue;
  font-weight: 600;
  font-size: 15px;
}

.link-wrapper {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    margin-top: -28;
    width: 50px;
}
.inner-wrapper {
    position: relative;
    display: inline-block;
}

.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}
.link-cont {
    position: relative;
    font-size: 24px;
}

.hover-1 {
  position: inline;
}

.hover-1:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.hover-1:hover:after {
        transform-origin: bottom left;
        transform: scaleX(1);
}

.aboutz {
  font-family: Opensans, 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  min-height: 300px;
  min-width: 300px;
  max-width: 500px;
  max-height: 500px;
  width: 50%;
  height: 70%;
  border-style: solid;
  border-width: 6px;
  border-color: blue;
  background-color: #fafafa;
  box-shadow: -10px 10px 5px 0px rgba(0, 0, 255, 0.8);
  /*margin-top: 40%;
  margin-left: 30%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
    z-index: 401;
    overflow-x: hidden;
  padding: 20;
}
.me {
  align-content: center;
}

#x-about {
  position: fixed;
  bottom: 75%;
  right: 30%;
  z-index: 500;
}
.image_off, #x-about:hover .image_on{
  top: 50%;
   display:none
}
.image_on, #x-about:hover .image_off{
   display:block
}


.image_off, #syfy_info:hover .image_on{
  top: 50%;
   display:none
}
.image_on, #syfy_info:hover .image_off{
   display:block
}

.syfy {
  align-content: center;
}

.videoWrapper {
	position: relative;
	padding-bottom: 50%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  max-width: 800px;
  max-height: 450px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  max-width: 800px;
  max-height: 450px;
}

.final {
  position: absolute;
  right: 49%;
}
