

/*$pad: 20px;*/


html {
  cursor: url(cursor.png) 25 15, auto;
}

body {
  height:100%;
  width: 100%;
  margin: auto;
  cursor: url(cursor.png) 25 15, auto;
  background-color: #3333ff;
  /*overflow-y: : hidden;*/
}

.contain {
  height:100%;
  width: 100%;
  cursor: url(cursor.png) 25 15, auto;
  z-index: 900;
}

@font-face {
    font-family: 'arciform';
    src: url(font/Arciform.otf);
}

/*.top-container {
  width: 90%;
  height: 90%;
  margin: auto;
  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  position: fixed;
  cursor: url(cursor.png) 25 15, auto;
  background: transparent;
}*/

#container {
  width: 700px;
  margin: auto;
  left: 50%;
    top: 55%;
    margin-top: -300px;
  margin-left: -350px;
  position: absolute;
  cursor: url(cursor.png) 25 15, auto;
}

.container {

}

/*.images {
  position:fixed;
  height:100%;
  width: 100%;
}*/

.blog {
  color: white;
  font-family: 'arciform', sans-serif;
  /*font-weight: bold;*/
  letter-spacing: 2px;
  font-size: 40px;
  width: 120px;
  height: 80px;
  margin: 50px;
  padding: 20px;
  padding-left: 70px;
  text-align: left;
  position: fixed;
  top:0;
  left:60%;
  background-color: #3333ff;
  border-style: solid;
  border-width: 6px;
  border-color: white;
  border-radius: 20px;
  background-color: #3333ff;
  z-index: 700;
}
.blog2{
  margin: 50px;
  position: fixed;
  top:0;
  left:60%;
  z-index: 700;
}
.blog2:hover {
  cursor: url(cursor-blue.png) 25 25, auto;
}
a:link {
  color: black;
  text-decoration:none;
}
a {
  color: black;
  text-decoration:none;
}
a:visited {
    color: white;
    text-decoration:none;
}

.logo {
  margin: 50px;
  position: fixed;
  top:0;
  left:0;
}

.logo:hover {
  cursor: url(cursor-black.png) 25 25, auto;
}

.dots {
  margin: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 600;
}

.dots:hover {
  cursor: url(cursor-black.png) 25 15, auto;
}

a:hover {
  cursor: url(cursor-black.png) 25 15, auto;
  text-decoration:none;
  color: black;
}
a:active {
    text-decoration: none;
    color: black;
}

.wave {
  margin: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.wave:hover {
  cursor: url(cursor-black.png) 25 15, auto;
}

.exmate {
  margin: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
}

.exmate:hover {
  cursor: url(cursor-black.png) 25 15, auto;
}

.key {
  margin: 50px;
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 600;
}
.key:hover {
  cursor: url(cursor-black.png) 25 15, auto;
}
.key2 {
  margin: 50px;
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 600;
}
.key2:hover {
  cursor: url(cursor-black.png) 25 15, auto;
}

#para-container {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  cursor: url(cursor.png) 25 15, auto;
}

#linebox {
  margin-top: -170px;
  margin-left: -170px;
  position: absolute;
  z-index: 100;
}

#lines {
  margin-top: 130px;
  margin-left: 115px;
  position: absolute;;
}

#name {
  text-align: center;

}

/*The animated lines*/
.shape {
  stroke-dasharray: 200 990;
  stroke-dashoffset: 120;
  stroke-width: 10px;
  fill: transparent;
  stroke: white;
  border-bottom: 8px solid white;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  stroke-linecap: round;
}

.svg-wrapper:hover .shape {
  stroke-width: 7px;
  stroke-dashoffset: 500;
  stroke-dasharray: 160 1200;
}

.about-container {
}

.about {
  width: 700px;
  height: 92%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: scroll;
  z-index: 400;
  overflow-x:hidden;
  overflow-y:scroll;
}

.about::-webkit-scrollbar-thumb {
    width: 12px;
    border-radius: 30px;
}

.face {
  margin-top: 100px;
  margin-left: 75px;
  width: 550px;
}

.about-pic {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 8px;
  border-color: black;
  border-radius: 20px;
  background-color: #3333FF;
  margin: 100px;
  position: absolute;
}

.about-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 40px;
  width: 550px;
  margin-top: 50px;
  margin-left: 100px;
  position: absolute;
}

.about-contact {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  height: 300px;
  margin-top: 500px;
  margin-left: 110px;
  position: absolute;
}

.grid {
  /*width: 100%;*/
  overflow-x: hidden;
}

#work {
  margin: 50px;
  cursor: url(cursor.png) 25 15, auto;
  overflow-y: hidden;
  left: 15%;
    top: 15%;

  position: absolute;
}

.col-1-8 {
	width: 300px;
  height: 300px;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  cursor: url(cursor.png) 25 15, auto;
  display: inline-block;
}

.module {
  background-color: black;
  height: 300px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  cursor: url(cursor-black.png) 25 25, auto;
  overflow: hidden;
}
#like {
  margin-left: -200px;
}
#time {
  margin-left: -130px;
}
#beauty {
}
#vidgame {
  margin-left: -105px;
}


.module1 {
  background-color: #3333FF;
  height: 300px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
}
.invis {
  height: 300px;
}

.project-container1 {
  cursor: url(cursor.png) 25 25, auto;
  margin: auto;

  top: 0; left: 0; bottom: 0; right: 0;
}

#x {
  position: fixed;
  width: 35px;
  margin: 20px;
  float: right;
}
.x00 {
  margin-top: 0px;
  margin-left: -55px;
  width: 35px;
  position: fixed;
  float: right;
}
.x00:hover {
  cursor: url(cursor-black.png) 25 25, auto;
}
#x:hover {
  cursor: url(cursor-black.png) 25 25, auto;
}



.project {
  width: 740px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow: hidden;
}
.project2 {
  width: 740px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow: hidden;
}
.project3{
  width: 740px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow: hidden;
}
.project4{
  padding-top: 20px;
  width: 740px;
  height: 90%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow-x:hidden;
  overflow-y:scroll;
}
.project5{
  width: 740px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow: hidden;
}
.project6{
  width: 740px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow: hidden;
}
.project7{
  width: 740px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow: hidden;
}
.project8{
  width: 740px;
  height: 90%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow-x:hidden;
  overflow-y:scroll;
}
.project9{
  width: 740px;
  height: 90%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow-x:hidden;
  overflow-y:scroll;
}
.project10{
  width: 740px;
  height: 90%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow-x:hidden;
  overflow-y:scroll;
}
.project11{
  width: 740px;
  height: 90%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow-x:hidden;
  overflow-y:scroll;
}
.project12{
  width: 740px;
  height: 90%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 30px;
  background-color: #3333ff;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: url(cursor.png) 25 15, auto;
  overflow-x:hidden;
  overflow-y:scroll;
}

.project-pic1 {
  margin: 43px;
  margin-top: 70px;
  width: 640px;
  height: 360px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  background-color: black;
  position: relative;
  overflow: hidden;
}
#bvid {
  margin-top: 50px;
}
/*.project-pic2 {
  margin-top: 400px;
  margin-left: 40px;
  width: 300px;
  height: 400px;
  border-style: solid;
  border-width: 8px;
  border-color: black;
  border-radius: 20px;
  background-color: #3333FF;
  position: absolute;
}*/

.project-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  width: 300px;
  margin-top: 450px;
  margin-left: 350px;
  position: absolute;
}

.grid grid-pad {
  cursor: url(cursor.png) 25 15, auto;
}


.scrollable-content {
      overflow-x:hidden;
      overflow-y:scroll;
    }
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: black;
}

#pic {
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  background-color: black;
  overflow: hidden;
}

.gp{
  width: 620px;
  margin-left: 55px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  color: white;
  font-size: 40px;
  line-height: 150%;
}
.glink {
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  color: black;
  font-size: 40px;
  line-height: 150%;
}


.s1 {
  margin-left: 230px;
  margin-top: 50px;
  margin-bottom: -60px;
}

.c1 {
  margin-left: 43px;
  margin-top: 5px;
  position: absolute;
}
.c2 {
  margin-left: 43px;
  margin-top: 570px;
  position: absolute;
}

.b1 {
  margin-left: 110px;
  margin-top: 10px;
}
.b2 {
  margin-left: 43px;
  margin-top: 55px;
  position: absolute;
}
.b3 {
  margin-left: 43px;
  margin-top: 455px;
  position: absolute;
}
.bp {
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 400px;
  position: relative;
  color: white;
  font-size: 40px;
  line-height: 150%;
}

.t1 {
  margin-top: 1320px;
  margin-left: 75px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  overflow: hidden;
}
.t2 {
  margin-top: 600px;
  margin-left: 75px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  overflow: hidden;
  margin-bottom: 50px;
}
.t3 {
  margin-top: 40px;
  margin-left: 75px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  overflow: hidden;
  margin-bottom: 50px;
}
.t4 {
  margin-top: 40px;
  margin-left: 400px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  overflow: hidden;
  margin-bottom: 50px;
}
.title {
  font-family: 'arciform', sans-serif;
  font-size: 50px;
  width: 580px;
  height: 80px;
  margin-top: 50px;
  margin-left: 75px;
  text-align: center;
  position: relative;
  line-height: 150%;
  color: white;
  background-color: #3333ff;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
}
.tp {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 640px;
  margin-left: 400px;
  position: absolute;
  color: white;
  font-size: 40px;
  line-height: 150%;
}
